%h1 Listing article_attachments

%table
  %thead
    %tr
      %th Article
      %th Image
      %th
      %th
      %th
      
  %tbody
    - @article_attachments.each do |article_attachment|
      %tr
        %td= article_attachment.article_id
        %td= article_attachment.image
        %td= link_to 'Show', article_attachment
        %td= link_to 'Edit', edit_article_attachment_path(article_attachment)
        %td= link_to 'Destroy', article_attachment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article attachment', new_article_attachment_path
