- if @articles.present?
  - @articles.each do |article|
    .article
      .article-image
        = image_tag article.head_image
      .title
        = translate_content(article.title_ru, article.title_by, nil)
      .is-published
        = 'Опубликована?'
        = article.is_published ? 'Да' : 'Нет'
      - if current_admin
        .links
          = link_to article_path(article), class: 'remove remove-article', remote: true, method: :delete,
        data: { confirm: 'Вы уверены?' } do
            = image_tag 'remove.png', alt: 'Удалить статью'
          = link_to edit_article_path(article), class: 'remove edit-article', data: { no_turbolink: true } do
            = image_tag 'edit.png', alt: 'Изменить статью'
          = link_to article_path(article), class: 'remove show-article', data: { no_turbolink: true } do
            = image_tag 'show.png', alt: 'Изменить статью'
- else
  .has_no
    = t('dashboard.no_articles')