.input-form
  = form_for @article do |f|
    .field
      = f.label 'Название на русском'
      = f.text_field :title_ru, required: true
    .field
      = f.label 'Название на белорусском'
      = f.text_field :title_by
    .field
      = f.label 'Краткое содержание на русском'
      = f.text_area :short_content_ru, reqired: true, rows: 8
    .field
      = f.label 'Краткое содержание на белорусском'
      = f.text_area :short_content_by, rows: 8
    .field
      = f.label 'Обложка статьи'
      = f.file_field :head_image, accept: 'image/png,image/gif,image/jpeg,image/jpg', required: !@article.head_image.present?
    .field
      = f.label 'Содержание на русском'
      = f.cktext_area :content_ru, required: true, :ckeditor => {:toolbar => 'mini'}
    .field
      = f.label 'Содержание на белорусском'
      = f.cktext_area :content_by, :ckeditor => {:toolbar => 'mini'}
    .field
      = f.label 'Ссылка: (не редактировать)'
      = f.text_field :slug
    .field
      = f.label 'Опубликовать?'
      = f.check_box :is_published
    .actions
      = f.submit 'Сохранить'
