=render 'static/header'
.articles-base
  .wrapper
    .articles.animated.bounceInUp
      .content
        %h2.content-title
          - if I18n.locale.to_s == 'ru' || !@article.title_by.present?
            = @article.title_ru
          - else
            = @article.title_by
        .content-body
          - if I18n.locale.to_s == 'ru' || !@article.content_by.present?
            = raw (@article.content_ru)
          - else
            = raw (@article.content_by)


= render 'static/footer'

