=render 'static/header'
-meta title: t('home.about')

%section
  .about-first
    .wrapper
      .hero-flip.animated.bounceInLeft
      .about-info
        %h3.animated.bounceInRight
          = t('about.they_chose_us')
        .advantages
          - @advantages.each_with_index do |advantage, index|
            %li{class: "fade-in item-#{index + 2}"}
              = translate_content advantage.title_ru, advantage.title_by, nil
            %br
  .about-second
    .wrapper.wrapper-about
      .services.animated.bounceIn
        %h1.service-title
          = t('about.we_can')
        .services-list
          - @services.each_with_index do |service, index|
            .service{class: "animated #{get_class_position(index)}" }
              .service-image
                = image_tag service.image.url(:thumb)
              .title
                = translate_content(service.title_ru, service.title_by, t('about.phones_miss'))
  .about-third
    .wrapper
      .inline
        .call-us.animated.bounceInLeft
          .contact-inner
            .addresses-box
              .address-top
                %h5
                  = t('about.phones_title')
              .address-bottom
                - @phones.each do |x|
                  .phone
                    = x.number + ' ' + x.operator
            .addresses-box
              .address-top
                %h5
                  = 'E-mail:'
              .address-bottom
                = @about.email.present? ? @about.email : t('about.email_miss')
            .addresses-box
              .address-top
                %h5
                  = t('about.law_info_title')
              .address-bottom
                = translate_content(@about.law_info_ru, @about.law_info_by, t('about.law_info_miss'))
        .write-us
          = render 'contacts/form'

= render 'static/footer'