=render 'static/header'

%section
  .about-first
    .wrapper
      .hero-flip
      .about-info
        %h3.animated.bounceInRight
          = 'Нас выбирают благодаря:'
        .advantages
          - @advantages.each_with_index do |advantage, index|
            %li{class: "fade-in service-#{index.to_s}"}
              - if I18n.locale.to_s == 'ru'
                = advantage.title_ru
              - else
                = advantage.title_by
            %br
  .about-second
    .wrapper
= render 'static/footer'

