- if @albums.present?
  - @albums.each do |album|
    .service
      .service-image
        = image_tag album.head_image.url(:thumb)
      .title
        = translate_content(album.title_ru, album.title_by, nil)
      .image-counter
        = 'Фотографий в альбоме: '
        = album.images.to_a.length
      - if current_admin
        = link_to album_path(album), class: 'remove remove-album', remote: true, method: :delete,
          data: { confirm: 'Вы уверены?' } do
          = image_tag 'remove.png', alt: 'Удалить альбом'
        = link_to edit_album_path(album), class: 'remove edit-album', data: { no_turbolink: true } do
          = image_tag 'edit.png', alt: 'Изменить альбом'
- else
  .has_no
    = t('dashboard.no_albums')