.input-form
  %h1
    = 'Редактирование альбома'
    %span.counter
      = render 'albums/counter'
  .head-image
    %p.cover-label
      = 'Обложка альбома:'
    = image_tag @album.head_image.url(:thumb)
  = form_for :album, url: album_path(@album), method: :patch do |f|
    .edit-field
      = f.label 'Название на русском'
      = f.text_field :title_ru, placeholder: 'Название на русском', required: true
    .edit-field
      = f.label 'Название на белорусском'
      = f.text_field :title_by, placeholder: 'Название на беларусском'
    .cover
      = f.file_field :head_image, accept: 'image/png,image/gif,image/jpeg,image/jpg', require: @album.head_image.nil?
    .edit-field
      = f.fields_for :images do |a|
        = f.label 'Выберите изображения для альбома:'
        = f.file_field :url, multiple: true, name: 'images_attributes[image][]', accept: 'image/png,image/gif,image/jpeg'
    .edit-actions
      = f.submit 'Сохранить'
  .images.flex
    = render 'images/images'