= form_for :album, url: get_album_url(action_name, @album), method: (:patch if action_name.to_s == 'edit') do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description
    -#- if action_name.to_s == 'edit'
    -#  = render 'article_attachments/article_attachments'

    = f.fields_for :images do |a|
      .field
        = f.label 'Выберите изображения:'
        = f.file_field :url, multiple: true, name: 'images[image][]'
  .actions
    = f.submit 'Save'
