.input-form
  %h1
    = 'Новый альбом'
  = form_for :album, url: get_album_url(action_name, @album), method: (:patch if action_name.to_s == 'edit') do |f|
    .field
      = f.text_field :title_ru, placeholder: 'Название на русском', required: true
    .field
      = f.text_field :title_by, placeholder: 'Название на белорусском'
    .field
      = f.label 'Обложка альбома'
      = f.file_field :head_image, accept: 'image/png,image/gif,image/jpeg', required: true
    .field
      = f.fields_for :images do |a|
        = f.label 'Выберите изображения:'
        = f.file_field :url, multiple: true, name: 'images_attributes[image][]', accept: 'image/png,image/gif,image/jpeg'
    .actions
      = f.submit 'Сохранить'