= render 'static/header'
.portfolio
  .wrapper
    %h2.yield.animated.bounceInLeft
      = t('home.portfolio')
  .wrapper.flex
    .albums.animated.bounceInUp
      - if @albums.present?
        - @albums.each do |album|
          = link_to album_path(album), class: 'animation', data: { no_turbolink: true } do
            .album
              .head-image
                = image_tag album.head_image.url(:medium)
              .title
                = translate_content(album.title_ru, album.title_by, nil)
      - else
        .has_no
          = t('dashboard.no_albums_main')
= render 'static/footer'