= render 'static/header'
.portfolio
  %h2.yield.animated.bounceInLeft
    = 'Портфолио'
  .wrapper.flex
    .albums.animated.bounceInUp
      - @albums.each_with_index do |album, index|
        = link_to album_path(album), class: 'animation', data: { no_turbolink: true } do
          .album
            .head-image
              = image_tag (album.head_image.url(:medium) || Album::DEFAULT_IMAGE)
            .title
              - if I18n.locale.to_s == 'ru' || album.title_by.blank?
                = album.title_ru
              - else
                = album.title_by
= render 'static/footer'