= render 'static/header'
.portfolio
  .wrapper.flex
    .albums
      - @albums.each do |album|
        = link_to album_path(album) do
          .album
            .title
              = album.title
            %br
            .image-counter
              %span
                = 'Изображений в альбоме:'
                = album.images.length
            .details
              = 'Просмотреть..'

            -#.image
            -#  = image_tag (album.images.first.url.url || Album::DEFAULT_IMAGE), width: '150px'
= render 'static/footer'


-#.dashboard
-#  = render 'dashboards/menu'
-#  .dashboard-main-wrapper
-#    - @albums.each do |album|
-#      = link_to dashboards_album_path(album) do
-#        = album.title
-#        %br
-#        = image_tag((album.head_image || Album::DEFAULT_IMAGE), width: '150px')
-#    = link_to 'Создать альбом', new_dashboards_album_path