= render 'static/header'
.wrapper
  .album-title.animated.bounceInLeft
    %h2
      = translate_content @album.title_ru, @album.title_by, nil
  - if @album.images.present?
    .show-portfolio
      .connected-carousels
        .navigation
          .carousel.carousel-navigation
            %ul
              - @album.images.each_with_index do |image, index|
                %li{class: "fade-in item-#{index}"}
                  = image_tag image.url.url(:thumb), width: '100px', height: '100px'
        .stage.fade-in.item-1
          .carousel.carousel-stage
            %ul
              - @album.images.each do |image|
                %li
                  = image_tag image.url.url, width: '800px'
          %a.prev.prev-stage{:href => "#"}
            %span ‹
          %a.next.next-stage{:href => "#"}
            %span ›
  - else
    = t('portfolio.blank_album')

= render 'static/footer'