.dashboard-menu-wrapper
  %h5
    Здравствуйте, Администратор!
    -#= "#{current_admin.name}!"
  .menu-links
    = link_to 'Основная', dashboard_path, class: "#{'current' if action_name == 'index'}"
    = link_to 'Портфолио', dashboard_portfolio_path, class: "#{'current' if action_name == 'portfolio'}"
    = link_to 'Статьи', dashboard_articles_path, class: "#{'current' if action_name == 'articles'}"
  .exit-link
    - if params[:action].to_s == 'portfolio'
      = link_to new_album_path, class: 'button new-album green' do
        = image_tag 'add.png', width: '20px'
        %span Создать альбом

    - if show_back_link(params)
      = link_to :back, class: 'button gray back' do
        = image_tag 'left.png', width: '20px'
        %span Назад

    = link_to root_path, class: 'button yellow' do
      = image_tag 'left.png', width: '20px'
      %span К сайту
    %br
    = link_to destroy_admin_session_path, method: :delete, class: 'button' do
      = image_tag('logout-512.png', width: '20px')
      %span Выйти


