.dashboard-menu-wrapper
  %h5
    Здравствуйте, Администратор!
    -#= "#{current_admin.name}!"
  .menu-links
    = link_to 'Основная', dashboard_path, class: "#{'current' if action_name == 'index'}"
    = link_to 'Портфолио', dashboard_portfolio_path, class: "#{'current' if action_name == 'portfolio'}"
    = link_to 'Статьи', dashboard_articles_path, class: "#{'current' if action_name == 'articles'}"
    = link_to 'Информация о нас', dashboard_about_in_path, class: "#{'current' if action_name == 'about'}"
  .exit-link
    - if action_name == 'portfolio'
      = link_to new_album_path, class: 'button new-album green' do
        = image_tag 'add.png', width: '20px'
        %span Создать альбом
    - if action_name == 'articles'
      = link_to new_article_path, class: 'button new-album green', data: { no_turbolink: true } do
        = image_tag 'add.png', width: '20px'
        %span Создать статью
    - if show_back_link(controller_name, action_name)
      = link_to get_back_link(controller_name), class: 'button gray back' do
        = image_tag 'left.png', width: '20px'
        %span Назад

    = link_to root_path, class: 'button yellow' do
      = image_tag 'left.png', width: '20px'
      %span К сайту
    %br
    = link_to destroy_admin_session_path, method: :delete, class: 'button' do
      = image_tag('logout-512.png', width: '20px')
      %span Выйти


